plugins {
    kotlin("jvm") version "2.2.0"
    `maven-publish`
}

group = "__GROUP__"
version = "0.1.0"

kotlin { jvmToolchain(21) }

repositories {
    mavenLocal()
    mavenCentral()
}

dependencies {
    compileOnly("io.koshei:sdk:0.2.0")
}

publishing {
    publications {
        create<MavenPublication>("maven") {
            from(components["java"])
        }
    }
}
